blinker==1.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Dance==3.0.0
Flask-Executor==0.9.3
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.17.3
oauthlib==3.1.0
pandas==0.25.3
#pkg-resources==0.0.0
psutil==5.6.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
SQLAlchemy==1.3.10
urllib3==1.25.6
URLObject==2.4.3
Werkzeug==0.16.0
regex
